.swal-modal{
    width:555px !important;
}
.mainMovieBooking{
    position: relative;

}
.mainMovieBooking::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 2, 0.212);
}